
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @players.each do |player| %>
      <div class="col-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to player.name, user_player_path(player.user.id, player.id) %> 
            </h5> 
              <p class="card-text text-right"><%= "#{player.pv}/#{player.pvmax} PVs" %></p><br>
            <div class="text-center">
              <p class="card-text"><%= "Force : #{player.force}" %></p>
              <p class="card-text"><%= "Dexterité : #{player.dexterite}" %></p>
              <p class="card-text"><%= "Intelligence : #{player.intelligence}" %></p>
              <p class="card-text"><%= "Sagesse : #{player.sagesse}" %></p>
              <p class="card-text"><%= "Charisme : #{player.charisme}" %></p>
            </div>
            <%# <p class="card-text"><%= "Bourse du personnage : #{player.bourse.blank? ? "0" + " pièce d'or" : player.bourse.to_s + " pièces d'or"}" %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= player.user.email %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

    <%# unless @docs.blank? %> 
      <%# @docs.each do |doc| %>
        <p><%#=doc.title %></p>
      <%# end %>
    <%# end %>